<section class="content color-palettes">

  <h1 id="fonts" class="component-category">Color Palette</h1>

  	<section>
  		<h2>Primary Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix"><div class="swatch steel-blue"></div>
  				<em>Steel Blue</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch pewter"></div>
  				<em>Pewter</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch slate"></div>
  				<em>Slate</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch moss"></div>
  				<em>Moss</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			 <li class="clearfix"><div class="swatch leaf"></div>
  				<em>Leaf</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch sand"></div>
  				<em>Sand</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>  			
  		</ul>

  	</section>


  	<section>
  		<h2>Secondary Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix"><div class="swatch dark-red"></div>
  				<em>Dark Red</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch grape"></div>
  				<em>Grape</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch pumpkin"></div>
  				<em>Pumpking</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch charcoal"></div>
  				<em>Charcoal</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>			
  		</ul>

  	</section>


  	<section>
  		<h2>Accent Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix"><div class="swatch ocean"></div>
  				<em>Ocean</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch asparagus"></div>
  				<em>Asparagus</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch mint"></div>
  				<em>Mint</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix"><div class="swatch tangerine"></div>
  				<em>Tangerine</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>

  	</section>

</section>