<section class="content color-palettes">

  <h1 id="fonts" class="component-category">Color Palette</h1>

  	<section>
  		<h2>Primary Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix steel-blue">
  				<em>Steel Blue</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix pewter">
  				<em>Pewter</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix slate">
  				<em>Slate</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix moss">
  				<em>Moss</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			 <li class="clearfix leaf">
  				<em>Leaf</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix sand">
  				<em>Sand</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>  			
  		</ul>

  	</section>


  	<section>
  		<h2>Secondary Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix dark-red">
  				<em>Dark Red</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix grape">
  				<em>Grape</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix pumpkin">
  				<em>Pumpking</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix charcoal">
  				<em>Charcoal</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>			
  		</ul>

  	</section>


  	<section>
  		<h2>Accent Palette</h2>
  		<ul class="clearfix">
  			<li class="clearfix ocean">
  				<em>Ocean</em>
  				<dl>
  					<dt>CMYK:</dt><dd>90 62 30 11</dd>
  					<dt>RGB:</dt><dd>55 93 129</dd>
  					<dt>HEX:</dt><dd>#265b80</dd>
  					<dt>PANTONE:</dt><dd>647 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix asparagus">
  				<em>Asparagus</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix mint">
  				<em>Mint</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>
  			<li class="clearfix tangerine">
  				<em>Tangerine</em>
  				<dl>
  					<dt>CMYK:</dt><dd>50 35 30 1</dd>
  					<dt>RGB:</dt><dd>137 150 160</dd>
  					<dt>HEX:</dt><dd>#8394a1</dd>
  					<dt>PANTONE:</dt><dd>7544 C/U</dd>
  				</dl>
  			</li>

  	</section>

</section>