<section class="content">

  <h1 id="fonts" class="component-category">Fonts</h1>
  <section class="oswald clearfix">

  	<p class="initial">Aa</p>

  	<div class="font-examples clearfix">
  		<h2>Display typeface: Oswald</h2>
  		<p>Oswald Light - Grumpy wizards make a toxic brew for the jovial queen.</p>
  	</div>
  </section>

  <section class="source-sans-pro clearfix">
  	
  	<p class="initial">Aa</p>
  	
  	<div class="font-examples clearfix">
  		<h2>Copy typeface: Source Sans Pro</h2>
  		<p class="light">Light - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="light italic">Light Italic- Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p>Regular - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="italic">Regular Italic - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="semibold">Semibold - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="semibold italic">Semibold Italic - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="bold">Bold - Grumpy wizards make a toxic brew for the jovial queen.</p>
  		<p class="bold italic">Bold Italic - Grumpy wizards make a toxic brew for the jovial queen.</p>
  	</div>
  </section>

</section>