<!-- requires menu.js -->
<!-- requires scroll.js -->

<h1 class="main-page-title">Colonial Life UX Toolkit</h1>

<nav id="nav-menu" class="nav-menu-wrap">
	<header>
		<h1 class="menu-logo">Colonial Life</h1>
		<!-- <h2 class="menu-header">Digital Brand Style Guide</h2> -->
		<a id="menu-open" class="menu-toggle" href="javascript:hideMenu();"></a>
	</header>

	<ul class="scroll-enabled-nav">
		<li><a href="#intro">Intro To Brand</a></li>
		<li><a href="#logos">Logo Usage</a></li>
		<li><a href="#brands">Sub-Brands</a></li>
		<li><a href="#colors">Color Pallette</a></li>
		<li><a href="#fonts">Fonts</a></li>
		<li><a href="#photos">Photography</a></li>
		<li><a href="#symbols">Symbology</a></li>
		<li><a href="#icons">Iconography</a></li>
		<li><a href="#framework">UI Framework</a></li>
	</ul>
</nav>
