<!-- requires menu.js -->

<h1 class="main-page-title">Colonial Life UX Toolkit</h1>

<nav id="nav-menu" class="nav-menu-wrap">
	<header>
		<h1 class="menu-logo">Colonial Life</h1>
		<!-- <h2 class="menu-header">Digital Brand Style Guide</h2> -->
		<a id="menu-open" class="menu-toggle" href="javascript:hideMenu();"></a>
	</header>

	<ul class="scroll-enabled-nav">
		<li><a href="#alerts">Intro To Brand</a></li>
		<li><a href="#body">Logo Usage</a></li>
		<li><a href="#buttons">Sub-Brands</a></li>
		<li><a href="#forms">Color Pallette</a></li>
		<li><a href="#media">Fonts</a></li>
		<li><a href="#navigation">Photography</a></li>
		<li><a href="#pagination">Sumbology</a></li>
		<li><a href="#tables">Iconography</a></li>
		<li><a href="#alerts">UI Framework</a></li>
	</ul>
</nav>
