<section class="content"><!-- Body Content -->

  <h1 id="brands" class="component-category">Sub Brands</h1>
  <div class="logo-wrap">

  	<div class="logo-cl logo-cl-border">
  		<img src="img/logo-my-standard.svg">
  	</div>

  	<div class="logo-cl logo-cl-border">
  		<img class="my-propr" src="img/logo-my-propr.svg">
  	</div>
  	
  	<div class="logo-cl logo-cl-dark-bg">
  		<img src="img/logo-my-ph.svg">
  	</div>

  	<div class="logo-cl logo-cl-dark-bg">
  		<img src="img/logo-my-empl.svg">
  	</div>

  	<div class="logo-cl logo-cl-dark-bg">
  		<img src="img/logo-my-expo.svg">
  	</div>

  	<div class="logo-cl logo-cl-dark-bg">
  		<img src="img/logo-my-brokers.svg">
  	</div>

  	<div class="logo-cl logo-cl-border">
  		<img class="my-acct" src="img/logo-my-acct-admin.svg">
  	</div>
  


  </div> <!-- logo-wrap -->

</section>